@import '../../../scss/styles.scss';

.contact {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &__title {
    margin: 20px 0;
    text-align: center;

    & > h1 {
      font-size: 3rem;
      font-weight: 600;
    }

    & > p {
      font-size: 1.4rem;
    }
  }

  &__map {
    margin: 20px 0;

    &--size {
      max-width: 1200px;
      height: 450px;
    }
  }

  &__message {
    margin: 8px 20px 8px 0;
  }

  &__subtitle {
    margin: 8px 0;
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__wrapper {
    @include flex(none);
    margin: 8px 0;

    &--icon {
      font-size: 2rem;
      margin-right: 12px;
    }

    & > p {
      font-size: 1.5rem;
    }
  }

  &__info {
    margin: 8px 0;
    & > p {
      font-size: 1.5rem;
    }
  }
}
