html {
  font-size: 62.5%;
}
*,
*:after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: inherit;
}
a:hover {
  text-decoration: none !important;
  color: inherit;
}
ol,
ul {
  list-style: none;
  margin: 0;
}
img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
}

body {
  line-height: 1.4;
  font-weight: 400;
  font-size: 1.4rem;
  color: $black;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container {
  margin: 0 auto;
  max-width: 1210px;
  padding-left: 2rem;
  padding-right: 2rem;
}
.button {
  position: relative;
  border: none;
  outline: none !important;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.3rem;
  text-align: center;
  @include transition(all, 0.25s, linear);
}
.button-round {
  padding: 1rem 2rem;
  min-width: 3.4rem;
  @include border-radius(2.5rem);
  @include respond-to('lg') {
    min-width: 10rem;
    padding: 1rem 1.2rem;
    font-size: 1.2rem;
  }
  @include respond-to('md') {
    min-width: 9.5rem;
    padding: 0.7rem 1.2rem;
    font-size: 1.2rem;
  }
}
.button-round--lg {
  @extend .button-round;
  padding: 1.2rem 2.5rem;
  min-width: 13rem;
  @include respond-to('lg') {
    min-width: 11rem;
    padding: 0.9rem 1.7rem;
    font-size: 1.2rem;
  }
  @include respond-to('sm') {
    min-width: 8rem;
    padding: 0.7rem 1.5rem;
    font-size: 1.1rem;
  }
}

.button-primary {
  text-transform: uppercase;
  background-color: $primary-color;
  color: $white;
  border: 2px solid $primary-color;
  font-weight: 600;
  &:hover {
    background-color: unset;
    color: $black;
  }
}
.button-animation--1 {
  overflow: hidden;
  border: 2px solid $primary-color;
  &::before {
    content: '';
    @include absolute(0, '', '', -100%);
    @include width-height(100%);
    @include transition(all, 0.4s, ease);
    z-index: 3;
    background-color: $primary-color;
  }
  &:hover {
    &::before {
      @include absolute(0, '', '', 0);
    }
  }
}
.button-transparent {
  text-transform: uppercase;
  background-color: unset;
  color: #949494;
  border: 2px solid transparent;
  font-weight: 600;

  &:hover {
    border-color: $primary-color;
    color: $primary-color;
  }
}

.button-white {
  text-transform: uppercase;
  background-color: $white;
  color: $green !important;
  border: 1px $green solid;
}
input,
textarea,
select,
option,
button {
  border: none;
  outline: none !important;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
}

.icon {
  @include flex(center, center);
  cursor: pointer;
}
.icon-round {
  @include square(4rem, 50%);
  border: 1px #dddcdc solid;
  &:hover {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
  @include respond-to('lg') {
    @include square(3rem, 50%);
    font-size: 1.4rem;
  }
}

.icon-round-sm {
  @include square(2.5rem, 50%);
  border: 1px #dddcdc solid;
  font-size: 1.2rem;

  &:hover {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}

input {
  border: none;
  outline: none !important;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
}
.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-clamp--1 {
  -webkit-line-clamp: 1;
}
.text-clamp--2 {
  -webkit-line-clamp: 2;
}
.text-clamp--3 {
  -webkit-line-clamp: 3;
}
.text-clamp--4 {
  -webkit-line-clamp: 4;
}
.text-clamp--5 {
  -webkit-line-clamp: 5;
}

.fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
