@import '../../../../scss/utilities/mixin';
@import '../../../../scss/utilities/variables';

.cart__product {
  &--item {
    td {
      text-align: center;
      vertical-align: middle;
      &:nth-child(2) {
        text-align: left;
        padding-left: 3rem;
      }
      @include respond-to('md') {
        font-size: 1.2rem;
      }
    }
  }

  &--amount {
    input {
      @include width-height(5rem, 3rem);
      text-align: center;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    button {
      @include width-height(3rem);
      text-align: center;
      border: 1px solid $border-color;
      cursor: pointer;
    }
  }

  &--img {
    position: relative;
    @include bgc-image(17%);
    width: 17%;
    cursor: pointer;

    img {
      @include absolute(0, '', '', 0);
      width: 100%;
      height: 100%;
    }
  }
  &--info {
    cursor: pointer;

    h3 {
      font-size: 1.6rem;
      font-weight: 600;
    }
    p {
      padding-top: 0.6rem;
    }
  }
  &--remove {
    cursor: pointer;
  }
}
