@import '../../scss/styles.scss';
.discount__item {
  margin: 8px 16px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;

  &--img {
    max-width: 80px;
    margin-right: 12px;
  }

  &--name {
    font-size: 1.4rem;
    font-weight: 500;
  }

  &--quantity {
    width: fit-content;
    margin: 8px 0;
    font-weight: 500;
  }

  &--icon {
    font-size: 1.6rem;
    margin-right: 4px;
  }

  &--button {
    padding: 1rem;
    color: #fafafa;
    background-color: #6c5ce7;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

.discount__wrapper1 {
  @include flex(space-between, flex-start, '', '', '');
}

.discount__wrapper2 {
  @include flex(space-between, center, '', '', '');
}
