@import '../../scss/utilities/variables';
@import '../../scss/utilities/mixin';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.footer {
  font-family: 'Poppins', sans-serif !important;
  line-height: 30px;
  background-color: $border-color;
  &__top {
    .footer__top--service {
      padding: 30px 0;
      border-bottom: 1px solid $border-color;
      font-size: 1.5rem;
      .footer__service--item {
        display: flex;
        align-content: center;
        gap: 1rem;
        .service__item--title {
          align-self: center;
        }
        .service__item--icon {
          border: 2px solid $primary-color;
          padding: 0.5rem;
          border-radius: 50%;
          div {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2.5rem;
            border-radius: 50%;
            background-color: $primary-color;
            color: $white;
            svg {
              font-size: 3rem;
              @include transition(all, 0.5s);
            }
            &:hover {
              svg {
                transform: rotate(360deg);
              }
            }
          }
        }
      }
    }
  }
  &__mid {
    .footer__mid--info {
      padding: 2.5rem 0;
      border-bottom: 1px solid $border-color;
      .info__logo {
        img {
          display: block;
        }
        p {
          text-align: left;
        }
      }
      .info__address {
        padding-top: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 100%;
        .info__icon {
          font-size: 4rem;
          color: $primary-color;
        }
        div {
          text-align: left;
          .info__title {
            color: $primary-color;
            font-size: 1.7rem;
            font-weight: 700;
          }
        }
      }
      .info__contact {
        @extend .info__address;
      }
    }
    .footer__mid--list {
      padding: 2.5rem 0;
      text-align: left;
      .list__title {
        color: $primary-color;
        font-size: 17px;
        font-weight: 700;
      }
      ul {
        padding-right: 2rem;
        li {
          &:not(:last-child) {
            padding: 1rem 0;
            border-bottom: 1px dashed $dark-gray;
          }
        }
        cursor: pointer;
        & :hover span {
          color: $primary-color;
        }
      }
    }
  }
  &__bot {
    .container {
      padding: 2.5rem 0;
    }
    background-color: $primary-color;
    &--copyRight {
      color: $white;
      font-size: 1.5rem;
      @include respond-to('sm') {
        order: 3;
      }
    }
    ul {
      display: flex;
      justify-content: center;
      gap: 1rem;
      color: $primary-color;
      li {
        cursor: pointer;
        @include width-height(1.5rem);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $white;
      }
    }
  }
}
