.about {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.about h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.about p {
  width: 60%;
  margin: 2rem auto 0;
  text-align: center;
}

.about img {
  display: block;
  margin: 0 auto;
}

.about li {
  margin: 2rem 0;
}
