@import '../../../scss/utilities/mixin';
@import '../../../scss/utilities/variables';

.search-discount {
  &__container {
    flex: 1;
    position: relative;
  }

  &__content {
    position: absolute;
    top: 44px;
    left: 0;
    z-index: 100;
    width: 100%;
    max-height: 0;
    overflow-y: scroll;
    background-color: $white;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    &--active {
      max-height: 350px;
    }

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__left {
    flex: 1;
    display: flex;
    gap: 1.5rem;
  }

  &__info {
    max-width: 180px;

    &--timer {
      font-size: 12px;
      color: #3d3f40;
      background: url(https://static.accesstrade.vn/coupon/v2/images/icon-timer-long.svg) no-repeat
        center left;
      padding: 10px 0 0 18px;
    }

    &--title,
    &--code {
      font-weight: 600;
    }

    @include respond-to('lg') {
      max-width: 430px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid $gray;

    button {
      @include width-height(none, 30px);
      padding: 0.2rem 1rem !important;
      background: #6c5ce7 !important;
      color: #fff;
      cursor: pointer;
    }
  }

  &__img {
    @include width-height(40px);
    border-radius: 4px;
    overflow: hidden;

    @include flex-align-center;
  }

  &__input {
    position: relative;

    input {
      padding-right: 7rem !important;
    }

    &--button {
      position: absolute;
      top: 25%;
      right: 0;
      z-index: 10;
      transform: translate(-50%);
      cursor: pointer;
    }
  }

  &__footer {
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
}
