@import '../../scss/styles.scss';

.admin-navbar {
  > button {
    // display: none !important;
  }
  height: 100vh;
  ul {
    height: 100%;
  }

  .admin__account {
    padding: 2rem 1.6rem 2rem 2.4rem;
    @include flex('', center, '', '', '');
    &--avt {
      margin-right: 8px;
      width: 40px;
      height: 40px;

      & > img {
        border-radius: 50%;
      }
    }

    &--name {
      color: $gray;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        color: $white;
      }
    }
  }
}
