@import '../../../scss/utilities/mixin';
@import '../../../scss/utilities/variables';
.payment-page {
  position: relative;
  padding: 5rem 5rem 5rem 0;
  z-index: 3;
  background-color: $white;
  @include respond-to('lg') {
    padding-right: 0;
  }
  .information {
    &__title {
      font-size: 2.5rem;
    }
    button + button {
      margin-left: 2rem;
    }
  }
  .shipping {
    &__content {
      padding: 1.6rem 2rem;
      border-radius: 8px;
      border: 1px solid $border-color;

      &--item {
        @include flex;
        font-weight: 300;
        &:not(:first-child) {
          padding-top: 1rem;
          margin-top: 1rem;
          border-top: 1px solid $border-color;
        }
      }
      &--item + &--item {
        padding-top: 1rem;
        margin-top: 1rem;
      }
    }
    &__info {
      &--inner {
        @include flex;
        gap: 2rem;

        h4 {
          min-width: 6rem;
        }
      }
      button {
        font-size: 1.3rem;
        color: $primary-color;
        font-weight: 300;
      }
    }
    &__title {
      padding: 4rem 0 2rem;
      h2 {
        font-size: 1.6rem;
      }
      p {
        padding-top: 0.7rem;
        font-size: 1.3rem;
        font-weight: 300;
      }
    }
    &__btn {
      padding: 3rem 0;

      button + button {
        margin-left: 2rem;
      }
      span {
        position: relative;
        z-index: 9;
        text-transform: capitalize !important;
      }
    }
  }
  .payments {
    &__warning {
      background-color: $bgc-be;
      &--inner {
        justify-content: flex-start;
        svg {
          font-size: 2.4rem;
          color: $brown;
        }
      }
    }
    &__content {
      margin-top: 2rem;
      border-radius: 8px;
      border: 1px solid $border-color;
    }
    &__item {
      @extend .shipping__content--item;
      padding: 1.5rem;
      &:not(:first-child) {
        margin-top: 0 !important;
      }

      svg {
        font-size: 2.5rem;
        color: $primary-color;
      }
    }
  }
}
